@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --seasalt: #fafafaff;
  --giants-orange: #fe5d26ff;
  --grape: #6a38c2ff;
  --dark-grape: #4727a12d;
  --black: #000000ff;
  --dark-pastel-green: #2cbb54ff;
  --royal-blue-web-color: #0b62faff;
  --red: #ff0000ff;
  --h: 0;
  --w: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--seasalt);
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--seasalt);
}

.bg-gradient {
  background: #020024;
  background: linear-gradient(90deg, #040047 0%, #571cbd 52%, #0044ff 100%);
}

.play {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-right: 4px solid white;
  z-index: 2;
}

.play-button::before {
  content: "";
  @apply w-12;
  @apply h-12;
  @apply bg-secondary;
  @apply hover:bg-secondary-dark;
  position: absolute;
  top: -4px;
  left: -4.5px;
  border-radius: 50%;
  opacity: 0.5;
  animation: beforeAnim 3s ease infinite;
}

.play-button::after {
  content: "";
  @apply w-14;
  @apply h-14;
  @apply bg-secondary;
  @apply hover:bg-secondary-dark;
  position: absolute;
  top: -8.1px;
  left: -8.95px;
  border-radius: 50%;
  opacity: 0.3;
  animation: afterAnim 3s ease infinite;
}
@keyframes beforeAnim {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes afterAnim {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}

.marquees::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  background: linear-gradient(to right, #fafafa, #fafafa80, transparent);
  z-index: 99;
}
.marquees::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
  background: linear-gradient(to left, #fafafa, #fafafa80, transparent);
  z-index: 99;
}
.link {
  @apply text-slate-500;
  @apply hover:text-black;
  @apply transition-colors;
  @apply relative;
  &.active {
    @apply text-black;
  }
  &.active::before {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    z-index: 99;
    @apply bg-secondary;
    @apply hover:bg-secondary-dark;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.aspect-5-3 {
  aspect-ratio: 5 / 3;
}

@layer components {
  .btn-secondary {
    @apply rounded-normal;
    @apply border-2;
    @apply border-gray-600;
    @apply bg-primary;
    @apply px-5;
    @apply py-2;
    @apply hover:shadow-black;
    @apply hover:shadow-inner;
    /* @apply hover:bg-[#2313493d]; */
    /* @apply hover:text-white; */
  }

  .btn-secondary:hover {
    background: #e0e0e0;
    box-shadow:
      inset 8px 8px 16px #afafaf,
      inset -8px -8px 16px #ffffff;
  }

  .btn-primary {
    @apply rounded-normal;
    @apply border-2;
    @apply border-secondary;
    @apply text-white;
    @apply bg-secondary;
    @apply px-5;
    @apply py-2;
    @apply hover:border-secondary-dark;
    @apply hover:bg-secondary-dark;
  }
  .icon {
    @apply w-10;
    @apply h-10;
    @apply rounded-full;
    @apply p-0;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hit-the-floor {
  text-align: center;
  color: #fff;
  font-size: 8em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.page_404 {
  width: 100%;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  width: 100%;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.box {
  flex: 1 0 300px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
