@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --seasalt: #fafafaff;
  --giants-orange: #fe5d26ff;
  --grape: #6a38c2ff;
  --black: #000000ff;
  --dark-pastel-green: #2cbb54ff;
  --royal-blue-web-color: #0b62faff;
  --red: #ff0000ff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--seasalt);
  
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--seasalt);
}

@layer components {
  .btn-secondary {
  @apply rounded-md;
  @apply border-[1px];
  @apply border-black;
  @apply bg-primary;
  @apply px-5;
  @apply py-2;
  @apply hover:border-secondary;
  @apply hover:bg-secondary;
  @apply hover:text-white;
  }

  .btn-primary {
    @apply rounded-md;
    @apply border-[1px];
    @apply border-white;
    @apply text-white;
    @apply bg-secondary;
    @apply px-5;
    @apply py-2;
    @apply hover:text-black;
    @apply hover:border-black;
    @apply hover:bg-primary;
    @apply hover:text-black;
  }
}
